.main-view-container1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 0 auto;
	max-width: 1500px;
	gap: 10px;
	@media (max-width: 1300px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 800px) {
		grid-template-columns: repeat(1, 1fr);
	}
	.movie-card-view-poster {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.movie-card-view-image {
			width: 80%;
			min-width: 300px;
		}
	}
}

.main-view-container2 {
	display: flex;
}
