.movie-list-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	max-width: 1250px;
	margin: 0 auto;
	@media (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 600px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
